@using BlogFodder.Core.Posts.Models
@using Humanizer
@using BlogFodder.Core.Plugins.Interfaces
@using BlogFodder.Core.Plugins
@using BlogFodder.Core.Plugins.Models

<main class="container">

    <div class="row my-4 g-5">
        <div class="col-md-8">

            <article class="blog-post">
                <img class="img-fluid" src="@Post.FeaturedImage?.Url?width=900&height=300&mode=crop" alt="@Post.Name - Image">
                <h1>@Post.Name</h1>
                <p>Last Updated: @Post.DateUpdated.Humanize()</p>
                @foreach (var postContentItem in Post.ContentItems)
                {
                    <div class="postContentItem">
                        <DynamicComponent Type="@AvailableEditorPlugins[postContentItem.PluginAlias!].Content.Component"
                                          Parameters="@(new Dictionary<string, object> {
                                                          {"Model", postContentItem.PluginData ?? ""},
                                                          {"Settings", postContentItem.PluginSettings ?? ""}
                                                      })"/>
                    </div>
                }
            </article>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <RenderPlugins PluginDisplayArea="PluginDisplayArea.PostSideBarTop"/>
                <RenderPlugins PluginDisplayArea="PluginDisplayArea.PostSideBarBottom"/>
            </div>
        </div>
    </div>

</main>

@code {

    [Inject]
    public ExtensionManager ExtensionManager { get; set; } = default!;

    private Dictionary<string, IEditorPlugin> AvailableEditorPlugins { get; set; } = new();

    [Parameter]
    public Post Post { get; set; } = default!;

    protected override void OnInitialized()
    {
        var editorPlugins = ExtensionManager.GetInstances<IEditorPlugin>(true);
        foreach (var plugin in editorPlugins)
        {
            AvailableEditorPlugins.Add(plugin.Value.Alias, plugin.Value);
        }
    }

}