@using BlogFodder.Core.Posts.Models
@using Humanizer

<a href="/p/@Post.Url" class="card text-decoration-none h-100">
    <img src="@Post.FeaturedImage?.Url?width=400&height=215&mode=crop" class="card-img-top" alt="@Post.Name">
    <div class="card-body">
        <h5 class="card-title">@Post.Name</h5>
        <p class="card-text">@Post.Excerpt</p>
        <p class="card-text">
            @(string.Join(", ", Post.Categories.Select(x => x.Name?.ToString())))
        </p>
        <p class="card-text">
            <small class="text-muted">Last updated @Post.DateUpdated.Humanize()</small>
        </p>
    </div>
</a>

@code {

    [Parameter]
    public Post Post { get; set; } = default!;

}