@page "/account/manage/profile"
@layout MainLayout
<PageTitle>Edit Profile</PageTitle>

<LeftNavAndTopNavPanel>
    <LeftNavigation>
        <AdminNavigation />
    </LeftNavigation>
    <MainContentSection>
        <CenterWhitePanel Heading="Edit Profile">

            <EditForm Model="@UpdateProfileCommand" OnValidSubmit="@HandleValidSubmit">
                <FluentValidationValidator />
                <ValidationSummary />

                <div class="my-4">
                    <div class="mb-3">
                        <FormRow Label="Username">
                            <InputText type="text" @bind-Value="UpdateProfileCommand.User.UserName" class="form-control" />
                            <ValidationMessage For="@(() => UpdateProfileCommand.User.UserName)" />
                        </FormRow>

                        @if (!UserIsExternalLogin)
                        {
                            <FormRow Label="Email Address">
                                <InputText type="text" @bind-Value="UpdateProfileCommand.User.Email" class="form-control" />
                                <ValidationMessage For="@(() => UpdateProfileCommand.User.Email)" />
                            </FormRow>

                        }

                        <FormRow Label="Profile Image">
                            <div class="d-flex">
                                @if (UpdateProfileCommand.User.ProfileImage != null)
                                {
                                    <div class="me-2">
                                        <img src="@UpdateProfileCommand.User.ProfileImage.Url?width=100" alt="Profile Image" class="img-thumbnail" />
                                    </div>
                                }
                                <div>
                                    @*<GabFileUpload @bind-Value="UpdateProfileCommand.ProfileImageUpload" ImagesOnly="true" MaxAllowedFiles="1" />*@
                                    <ValidationMessage For="@(() => UpdateProfileCommand.ProfileImageUpload)" />
                                </div>
                            </div>
                        </FormRow>
                    </div>

                    @if (!UserIsExternalLogin)
                    {
                        <div class="mt-3">
                            <div>
                                <h3 class="h4 fw-normal">
                                    Change Password
                                </h3>
                            </div>
                            <div class="mt-3">

                                <FormRow Label="Current Password">
                                    <InputText type="text" @bind-Value="UpdateProfileCommand.CurrentPassword" class="form-control" />
                                    <ValidationMessage For="@(() => UpdateProfileCommand.CurrentPassword)" />
                                </FormRow>

                                <FormRow Label="New Password">
                                    <InputText type="text" @bind-Value="UpdateProfileCommand.NewPassword" class="form-control" />
                                    <ValidationMessage For="@(() => UpdateProfileCommand.NewPassword)" />
                                </FormRow>

                                <FormRow Label="Confirm Password">
                                    <InputText type="text" @bind-Value="UpdateProfileCommand.NewPasswordConfirmation" class="form-control" />
                                    <ValidationMessage For="@(() => UpdateProfileCommand.NewPasswordConfirmation)" />
                                </FormRow>
                            </div>
                        </div>
                        }
                </div>

                <div class="pt-3">
                    <div class="d-flex justify-content-end">
                        <GabSubmitButton Text="Save Profile" Loading="Loading" />
                    </div>
                </div>
            </EditForm>
        </CenterWhitePanel>
    </MainContentSection>
</LeftNavAndTopNavPanel>
