@page "/admin/createpost"
@using BlogFodder.Core.Posts.Models
@layout AdminLayout
@inject IDialogService Dialog
<PageTitle>Create Post</PageTitle>

<EditForm Context="createPostContext" Model="Post" OnValidSubmit="SubmitForm">
    <FluentValidationValidator/>
    `
    <MudTextField Label="Title of this post" Class="my-2"
                  Counter="1000" MaxLength="1000"
                  DebounceInterval="500" OnDebounceIntervalElapsed="HandleIntervalElapsed"
                  @bind-Value="Post.Name" For="@(() => Post.Name)" Variant="Variant.Outlined">
    </MudTextField>

    <MudTabs Rounded="true" ApplyEffectsToContainer="true" PanelClass="py-6 ">
        <MudTabPanel Text="Excerpt">

            <MudTextField Lines="5" Label="Preview Text" HelperText="Max. 3000 characters"
                          @bind-Value="Post.Excerpt" For="@(() => Post.Excerpt)"/>

            <MudField Label="Featured Image">
                <MudFileUpload T="IBrowserFile" FilesChanged="SetFeaturedImage">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context">
                            Choose Image
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudField>
        </MudTabPanel>
        <MudTabPanel Text="Content">
            <MudStack Row="true">
                <MudItem xs="8">
                    <MudText>
                        Choose a content item to add
                    </MudText>
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudSelect T="string"
                                   ValueChanged="OnContentItemChanged"
                                   Label="Editors" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var editor in AvailableEditorPlugins)
                            {
                                <MudSelectItem Value="@editor.Key">@editor.Value.Name</MudSelectItem>
                            }
                        </MudSelect>
                        <MudButton OnClick="AddNewContentItem">Add</MudButton>
                    </MudStack>
                </MudItem>
            </MudStack>

            @*@bind-SelectedItem="selectedItem" @bind-SelectedValue="selectedValue"*@


            <MudDropContainer T="PostContentItem" @ref="_container" Items="Post.ContentItems" ItemsSelector="@((item, dropzone) => item.Selector == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
                <ChildContent>
                    <MudList Class="d-flex flex-column mud-height-full">
                        <MudDropZone T="PostContentItem" Identifier="plugins" AllowReorder="true" Class="flex-grow-1"/>
                    </MudList>
                </ChildContent>
                <ItemRenderer>
                    <MudListItem @onclick="() => ShowEditor(context)" Text="@context.PluginAlias"/>
                </ItemRenderer>
            </MudDropContainer>


            @*<MudGrid Class="mt-8">
                @foreach (var contentItem in Post.ContentItems)
                {
                    <MudItem xs="12">
                        <MudCard @onclick="() => ShowEditor(contentItem)" Elevation="25" Class="rounded-lg pb-4">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h5" Align="Align.Center">@contentItem.PluginAlias</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            $1$<MudCardContent>
                                <div class="d-flex justify-center">
                                    <MudText Typo="Typo.h3">$5</MudText>
                                    <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Monthly</MudText>
                                </div>
                                <MudList Class="mx-auto mt-4" Style="width:300px;">
                                    <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                        Unlimited something
                                    </MudListItem>
                                    <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                        10 something
                                    </MudListItem>
                                    <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                                        No something
                                    </MudListItem>
                                </MudList>
                            </MudCardContent>#1#
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>*@
        </MudTabPanel>
        <MudTabPanel Text="SEO">
            <MudText>SEO</MudText>
            <MudTextField Label="Page Title" HelperText="Max. 60 characters"
                          @bind-Value="Post.PageTitle" For="@(() => Post.PageTitle)"/>
            <MudTextField Lines="5" Label="Meta Description" HelperText="Max. 300 characters"
                          @bind-Value="Post.MetaDescription" For="@(() => Post.MetaDescription)"/>
            <MudField Label="Social Image">
                <MudFileUpload T="IBrowserFile" FilesChanged="SetSocialImage">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context">
                            Choose Image
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudField>
            <MudSwitch @bind-Checked="@Post.NoIndex" Label="No Index" Color="Color.Info"/>
        </MudTabPanel>
        <MudTabPanel Text="Settings">
            <MudText>Settings</MudText>
            <MudTextField @bind-Value="Post.Url" Label="Url" Variant="Variant.Text"></MudTextField>
            <MudDatePicker Label="Date Created" PickerVariant="PickerVariant.Dialog" DisableToolbar="true" @bind-Date="DateCreated"/>
            <MudDatePicker Label="Date Updated" PickerVariant="PickerVariant.Dialog" DisableToolbar="true" @bind-Date="DateUpdated"/>
        </MudTabPanel>
    </MudTabs>
</EditForm>