@using BlogFodder.Core
@using Microsoft.AspNetCore.Authentication;
@model List<AuthenticationScheme>

@if (Model.Any())
{
    <div class="mt-3">
        <div class="d-flex align-items-center justify-content-center text-center">
            <div class="border-top border-secondary flex-grow-1 my-auto"></div>
            <span class="px-2 bg-white text-secondary mx-auto">
                Or continue with
            </span>
            <div class="border-top border-secondary flex-grow-1 my-auto"></div>
        </div>

        <form id="external-account" asp-page="@Constants.Urls.Account.ExternalLogin" method="post" class="mt-3">
            @foreach (var provider in Model)
            {
            <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center w-100 mt-2"
                    name="provider"
                    value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">
                <span class="visually-hidden">Sign in with @provider.DisplayName</span>
                @{
                    switch (provider.DisplayName?.ToLower())
                    {
                        case "facebook":
                            <text>
                                <svg style="width: 1.25rem; height: 1.25rem;" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z" clip-rule="evenodd" />
                                </svg>
                            </text>
                            break;
                        case "microsoft":
                            <text>
                                <svg style="width: 1.25rem; height: 1.25rem;" fill="currentColor" viewBox="0 0 344 344" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M29.5 29.5L27 31.9V166h139V27H31.9l-2.4 2.5zM178 96.5V166h139V31.9l-2.5-2.4-2.4-2.5H178v69.5zM27 245v67.1l2.5 2.4 2.4 2.5H166V178H27v67zM178 247.5V317h134.1l2.4-2.5 2.5-2.4V178H178v69.5z" clip-rule="evenodd" />
                                </svg>
                            </text>
                            break;
                        case "google":
                            <text>
                                <svg style="width: 1.25rem; height: 1.25rem;" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032 s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2 C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z" clip-rule="evenodd" />
                                </svg>
                            </text>
                            break;
                        default:
                            <text>
                                <svg style="width: 1.25rem; height: 1.25rem;" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </text>
                            break;
                    }
                    <span class="ms-2">@provider.DisplayName</span>
                }
            </button>
            }

        </form>
    </div>
}
