@page
@using BlogFodder.Core.Extensions
@model BlogFodder.App.Pages.Account.LoginModel
@{
    Layout = "Shared/_Layout";
}
@section Head {
    <title>Login</title>
    <meta name="description" content="" />
}
<div class="d-flex flex-column justify-content-center py-5 bg-light min-vh-100">
    <div class="container mx-auto text-center">
        
        <p>LOGO HERE</p>

        <h2 class="mt-4 text-center text-2xl font-weight-bold">
            Sign in to your account
        </h2>
        <p class="mt-2 text-center text-muted">
            Or
            <a asp-page="./Register" asp-route-returnUrl="@Model.LoginUserCommand.ReturnUrl" class="text-primary">
                register for an account
            </a>
        </p>
    </div>

    <div class="container mt-4 mx-auto">
        <div class="bg-white p-5 shadow rounded">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger text-center">
                    @if (!Model.ErrorMessage.IsNullOrWhiteSpace())
                    {
                        @Model.ErrorMessage
                    }
                </div>
                <div class="form-group">
                    <label asp-for="LoginUserCommand.Email" class="form-label">Email Address</label>
                    <input asp-for="LoginUserCommand.Email" autocomplete="email" class="form-control" />
                    <span asp-validation-for="LoginUserCommand.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoginUserCommand.Password" class="form-label">Password</label>
                    <input asp-for="LoginUserCommand.Password" autocomplete="current-password" class="form-control" />
                    <span asp-validation-for="LoginUserCommand.Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input asp-for="LoginUserCommand.RememberMe" class="form-check-input" />
                        <label asp-for="LoginUserCommand.RememberMe" class="form-check-label">
                            @Html.DisplayNameFor(m => m.LoginUserCommand.RememberMe)
                        </label>
                    </div>

                    <div class="text-muted">
                        <a asp-page="./ForgotPassword" class="text-primary">
                            Forgot your password?
                        </a>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary w-100">
                        Sign in
                    </button>
                </div>
                @Html.HiddenFor(x => x.LoginUserCommand.ReturnUrl)
            </form>

            <partial name="_externalLogins" model="Model.LoginUserCommand.ExternalLogins" />

        </div>
    </div>
</div>
@*<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">

        <component type="typeof(LogoImage)" param-Classes="@("mx-auto h-16 w-16 fill-current text-indigo-600")" render-mode="ServerPrerendered" />

        <h2 class="mt-4 text-center text-2xl font-bold text-gray-900">
            Sign in to your account
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600 max-w">
            Or
            <a asp-page="./Register" asp-route-returnUrl="@Model.LoginUserCommand.ReturnUrl" class="font-medium text-indigo-600 hover:text-indigo-500">
                register for an account
            </a>
        </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="space-y-6" method="post">
                <div asp-validation-summary="All" class="font-medium text-red-400 text-sm text-center">
                    @if (!Model.ErrorMessage.IsNullOrWhiteSpace())
                    {
                        @Model.ErrorMessage
                    }
                </div>
                <div>
                    <label asp-for="LoginUserCommand.Email" class="block text-sm font-medium text-gray-700"></label>
                    <div class="mt-1">
                        <input asp-for="LoginUserCommand.Email" autocomplete="email" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                        <span asp-validation-for="LoginUserCommand.Email" class="text-red-400 text-xs"></span>
                    </div>
                </div>

                <div>
                    <label asp-for="LoginUserCommand.Password" class="block text-sm font-medium text-gray-700"></label>
                    <div class="mt-1">
                        <input asp-for="LoginUserCommand.Password" autocomplete="current-password" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                        <span asp-validation-for="LoginUserCommand.Password" class="text-red-400 text-xs"></span>
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input asp-for="LoginUserCommand.RememberMe" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" />
                        <label asp-for="LoginUserCommand.RememberMe" class="ml-2 block text-sm text-gray-900">
                            @Html.DisplayNameFor(m => m.LoginUserCommand.RememberMe)
                        </label>
                    </div>

                    <div class="text-sm">
                        <a asp-page="./ForgotPassword" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Forgot your password?
                        </a>
                    </div>
                </div>

                <div>
                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Sign in
                    </button>
                </div>
                @Html.HiddenFor(x => x.LoginUserCommand.ReturnUrl)
            </form>

            <partial name="_externalLogins" model="Model.LoginUserCommand.ExternalLogins" />

        </div>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScripts" />
}
