@page
@using BlogFodder.Core.Extensions
@model BlogFodder.App.Pages.Account.LoginModel
@{
    Layout = "Shared/_Layout";
}

@section Head {
    <title>Login</title>
}

<div class="d-flex flex-column justify-content-center py-5 bg-light min-vh-100">
    <div class="mx-auto w-100" style="max-width: 28rem;">
        <div class="text-center">
            @if (Model.Settings?.LogoId == null)
            {
                <img src="/img/at.svg" class="text-primary" alt="@Model.Settings?.SiteName Logo" width="50" height="50">
            }
            else
            {
                <img src="@Model.Settings.Logo!.Url?width=50" alt="@Model.Settings.SiteName Logo" width="50" height="50">
            }
        </div>

        <h3 class="mt-4 text-center">
            Sign in to your account
        </h3>
        <p class="mt-2 text-center text-muted">
            Or
            <a asp-page="./Register" asp-route-returnUrl="@Model.LoginUserCommand.ReturnUrl" class="text-primary">
                register for an account
            </a>
        </p>
    </div>

    <div class="mt-3 mx-auto w-100" style="max-width: 28rem;">
        <div class="bg-white p-5 shadow rounded">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger fw-bold small">
                    @if (!Model.ErrorMessage.IsNullOrWhiteSpace())
                    {
                        @Model.ErrorMessage
                    }
                </div>
                <div class="mb-3">
                    <label asp-for="LoginUserCommand.Email" class="form-label"></label>
                    <input asp-for="LoginUserCommand.Email" autocomplete="email" class="form-control"/>
                    <span asp-validation-for="LoginUserCommand.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LoginUserCommand.Password" class="form-label"></label>
                    <input asp-for="LoginUserCommand.Password" autocomplete="current-password" class="form-control"/>
                    <span asp-validation-for="LoginUserCommand.Password" class="text-danger"></span>
                </div>

                  <div class="mb-4 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <input asp-for="LoginUserCommand.RememberMe" class="form-check-input text-primary"/>
                        <label asp-for="LoginUserCommand.RememberMe" class="form-check-label ms-2">
                            @Html.DisplayNameFor(m => m.LoginUserCommand.RememberMe)
                        </label>
                    </div>

                    <div class="small">
                        <a asp-page="./ForgotPassword" class="text-decoration-none text-primary">
                            Forgot your password?
                        </a>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center py-2 px-4 rounded shadow-sm">
                        Sign in
                    </button>
                </div>
                @Html.HiddenFor(x => x.LoginUserCommand.ReturnUrl)
            </form>

            <partial name="_externalLogins" model="Model.LoginUserCommand.ExternalLogins"/>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts"/>
}