@page
@using BlogFodder.Core
@model BlogFodder.App.Pages.Account.RegisterModel
@{
    Layout = "Shared/_Layout";
}

@section Head {
    <title>Register</title>
}


<div class="d-flex flex-column justify-content-center py-5 bg-light min-vh-100">
    <div class="mx-auto w-100" style="max-width: 28rem;">
        <div class="text-center">
            @if (Model.Settings?.LogoId == null)
            {
                <img src="@Constants.DefaultLogo" class="text-primary" alt="@Model.Settings?.SiteName Logo" width="50" height="50">
            }
            else
            {
                <img src="@Model.Settings.Logo!.Url?width=50" alt="@Model.Settings.SiteName Logo" width="50" height="50">   
            }
        </div>
        <h3 class="mt-4 text-center">
            Register an account
        </h3>
    </div>

    <div class="mt-3 mx-auto w-100" style="max-width: 28rem;">
        <div class="bg-white p-5 shadow rounded">
            <form class="gy-3" method="post">
            <div asp-validation-summary="All" class="@Model.ValidationSummaryStyles"></div>

                <div class="mb-3">
                    <label asp-for="RegisterUserCommand.Username" class="form-label"></label>
                    <input asp-for="RegisterUserCommand.Username" class="form-control shadow-sm"/>
                    <span asp-validation-for="RegisterUserCommand.Username" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="RegisterUserCommand.Email" class="form-label"></label>
                    <input asp-for="RegisterUserCommand.Email" autocomplete="email" class="form-control shadow-sm"/>
                    <span asp-validation-for="RegisterUserCommand.Email" class="text-danger small"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="RegisterUserCommand.Password" class="form-label"></label>
                    <input asp-for="RegisterUserCommand.Password" autocomplete="current-password" class="form-control shadow-sm"/>
                    <span asp-validation-for="RegisterUserCommand.Password" class="text-danger small"></span>
                </div>

                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <input asp-for="RegisterUserCommand.RememberMe" class="form-check-input text-primary"/>
                        <label asp-for="RegisterUserCommand.RememberMe" class="form-check-label ms-2">
                            @Html.DisplayNameFor(m => m.RegisterUserCommand.RememberMe)
                        </label>
                    </div>

                    <div class="small">
                        <a asp-page="./Login" asp-route-returnUrl="@Model.RegisterUserCommand.ReturnUrl" class="text-decoration-none text-primary">
                            Login to existing account?
                        </a>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center py-2 px-4 rounded shadow-sm">
                        Register
                    </button>
                </div>
                @Html.HiddenFor(x => x.RegisterUserCommand.ReturnUrl)
            </form>

            <partial name="_externalLogins" model="Model.RegisterUserCommand.ExternalLogins"/>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts"/>
}