@page
@using BlogFodder.Core
@using BlogFodder.Core.Extensions
@model BlogFodder.App.Pages.Account.ResetPasswordModel
@{
    Layout = "Shared/_Layout";
}

@section Head {
    <title>Reset Password</title>
}

<div class="d-flex flex-column justify-content-center py-5 bg-light min-vh-100">
    <div class="mx-auto w-100" style="max-width: 28rem;">
        <div class="text-center">
            @if (Model.Settings?.LogoId == null)
            {
                <img src="@Constants.DefaultLogo" class="text-primary" alt="@Model.Settings?.SiteName Logo" width="50" height="50">
            }
            else
            {
                <img src="@Model.Settings.Logo!.Url?width=50" alt="@Model.Settings.SiteName Logo" width="50" height="50">
            }
        </div>
        <h3 class="mt-4 text-center">
            Reset password
        </h3>
    </div>

    <div class="mt-3 mx-auto w-100" style="max-width: 28rem;">
        <div class="bg-white p-5 shadow rounded">
            <form class="gy-3" method="post">
                <div asp-validation-summary="All" class="text-danger fw-bold small">
                    @if (Model.Result.Success)
                    {
                        <p class="text-success">@Html.Raw(Model.Result.Messages.SuccessMessages().FirstOrDefault()!.Message)</p>
                    }
                </div>
                <input asp-for="ResetPasswordCommand.Code" type="hidden"/>
                <div class="mb-3">
                    <label asp-for="ResetPasswordCommand.Email" class="form-label bf-label"></label>
                    <input asp-for="ResetPasswordCommand.Email" autocomplete="email" class="form-control shadow-sm"/>
                    <span asp-validation-for="ResetPasswordCommand.Email" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ResetPasswordCommand.Password" class="form-label bf-label"></label>
                    <input asp-for="ResetPasswordCommand.Password" autocomplete="current-password" class="form-control shadow-sm"/>
                    <span asp-validation-for="ResetPasswordCommand.Password" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ResetPasswordCommand.ConfirmPassword" class="form-label bf-label"></label>
                    <input asp-for="ResetPasswordCommand.ConfirmPassword" class="form-control shadow-sm"/>
                    <span asp-validation-for="ResetPasswordCommand.ConfirmPassword" class="text-danger small"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center py-2 px-4 rounded shadow-sm">
                        Reset Password
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScripts"/>
}